* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #111;
  background: repeating-linear-gradient(90deg,
      #c8a27a,
      #c8a27a 40px,
      #b58963 40px,
      #b58963 80px);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  padding-top: 70px;
}

/* ============== Navbar Css =============== */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.logo h2 {
  font-family: "Pacifico", cursive;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: #111;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.nav-links a {
  text-decoration: none;
  padding: 10px 12px;
  color: black;
  font-size: 15px;
  font-weight: 600;
  border-radius: 6px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  background-color: #b58963;
  border: 2px solid #111;
  color: #111;
  transform: translateY(-4px);
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 5px;
}

.login-btn {
  padding: 10px 20px;
  border-radius: 6px;
  border: 1px solid #111;
  background: rgba(255, 255, 255, 0.3);
  color: #111;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.25s ease;
}

.login-btn:hover {
  background: #b58963;
  color: white;
  transform: scale(1.04);
}

.signup-btn {
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  background: #b58963;
  border: 1px solid #111;
  color: #111;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.25s ease;
}

.signup-btn:hover {
  color: white;
  background: #333;
  transform: scale(1.04);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.menu-toggle {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

/* ================ HOME HERO SECTION Css ============== */
.home-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 8%;
  gap: 40px;
}

.home-text {
  flex: 1;
  max-width: 550px;
}

.home-text h1 {
  font-size: 48px;
  font-family: "Pacifico", cursive;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #111;
}

.home-text p {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 25px;
  color: #333;
}

.home-text button {
  padding: 14px 28px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  border: none;
  background: #111;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.home-text button:hover {
  transform: scale(1.05);
  background: #333;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.home-hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-hero-image img {
  width: 460px;
  max-width: 100%;
  padding: 15px;
  animation: rotateFish 12s linear infinite;
}

/* ================ Animation ================= */

@keyframes rotateFish {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(360deg);
  }
}

/* =================  ABOUT SECTION Css ================ */
.about-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  padding: 80px 8%;
}

.about-text {
  flex: 1;
  max-width: 600px;
}

.about-text h2 {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #111;
  font-family: "Pacifico", cursive;
}

.about-text p {
  font-size: 16px;
  line-height: 1.8;
  color: #333;
}

.about-text button{
  margin-top: 20px;
  padding: 12px 24px;
  border: none;
  background: #111;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image img {
  width: 600px;
  max-width: 100%;
  border-radius: 16px;
  transition: all 0.4s ease;
}

/* ================  CARDS Css  ================= */
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 40px;
}

.cards {
  position: relative;   
  background: white;
  border-radius: 16px;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
  transition: transform 0.3s ease;
}

.cards:hover {
  transform: scale(1.05);
}

.cards img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 12px;
  display: block;
  transition: 0.3s ease;
}

.cards p {
  position: absolute;
  top: 15px;
  left: 15px;
  width: calc(100% - 30px);
  height: 230px;
  background: rgba(0,0,0,0.4);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  line-height: 1.4;
  border-radius: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.35s ease;
}

.cards img:hover + p {
  opacity: 1;
}

.cards h3 {
  margin-top: 12px;
  font-size: 22px;
  font-weight: 600;
  font-family: "Pacifico", cursive;
}

.cards h4 {
  margin: 6px 0;
  color: #b58963;
  font-weight: 700;
  font-size: 1.2rem;
}

.cards button {
  width: 100%;
  padding: 12px 16px;
  border-radius: 6px;
  border: none;
  background: orange;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.cards button:hover {
  background: black;
}


/* =========================
RESPONSIVE
========================= */
@media (max-width: 1024px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}



/* ================= Responsive ================== */

@media (max-width: 900px) {
  .home-container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .home-text h1 {
    font-size: 32px;
  }
  
  .home-hero-image img {
    width: 300px;
  }
  .about-container {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }
  
  .about-text h2 {
    font-size: 30px;
  }
  
  .about-text p {
    text-align: center;
  }
  
  .about-image img {
    width: 320px;
  }
}

@media (max-width: 1180px) {
  
  .menu-toggle {
    margin-left: auto;
    margin-right: 1rem;
    display: block;
  }

  .nav-links {
    position: fixed;
    top: 80px;
    left: 0;
    width: 260px;
    height: calc(100vh - 80px);
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 4px 0 20px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    gap: 20px;
    padding: 25px 0;
    transform: translateX(-100%);
    transition: transform 0.35s ease;
    display: flex;
  }

  .nav-links.active {
    transform: translateX(0);
  }

  .nav-links a {
    background-color: #b58963;
    border: 2px solid #111;
    color: #111;
    padding: 5px 10px;
  }

  .nav-links .nav-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }

  .nav-links .login-btn,
  .nav-links .signup-btn {
    width: 80%;
    text-align: center;
  }
}